body {
  background-image: conic-gradient( #cd6144, #81b2d3);
  background-image: linear-gradient(#cd6144, #81b2d3);
  
}

body {
  zoom: 75%;
}

.projects-large-title{
    text-align: center;
    position: relative;
    margin: 0;
    color: whitesmoke;
    font-size: 5em;
    font-family: fantasy;
}

.back-text{
    text-align: center;
    position: relative;
    margin: 0;
    color: whitesmoke;
    font-size: 2em;
    font-family: fantasy; 
}

.arduino-title{
    left: 370px;
    position: relative;
    padding-bottom: 40px;
    margin: 0;
    color: whitesmoke;
    font-size: 2em;
    font-family: fantasy; 
}

.portfolio-title{
    left: 1500px;
    bottom: 75px;
    padding-bottom: 40px;
    position: relative;
    margin: 0;
    color: whitesmoke;
    font-size: 2em;
    font-family: fantasy; 
}

.project1-image{
    position: relative;
    left: 280px;
    bottom: 95px;
    padding-bottom: 30px;
    
  }
  
  .project1-image {
    width: 400px;
    height: auto;
  }
  
  .project1-image {
    width: 300px;
    height: auto;
}

.project2-image{
    position: relative;
    left: 1020px;
    bottom: 40px;
    padding-bottom: 30px;
    top: -100px;
  }
  
  .project2-image {
    width: 500px;
    height: 400px;
}

.arduino-text{
  position: relative;
  left: 200px;
  bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(233, 222, 222);
  font-size: 1.3em;
  margin: 0;
  max-width: 580px;
  padding-bottom: 30px;
}

.portfolio-text{
    position: absolute;
    left: 1290px;
    bottom: 160px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(233, 222, 222);
    font-size: 1.3em;
    margin: 0;
    max-width: 580px;
  }

body {
  overflow-x: hidden;
}